<ion-view hide-nav-bar="false">
    <ion-nav-title>
        <img class="center" width="150px" height="100%" src="img/logo-uni.png" />
    </ion-nav-title>

    <ion-content class="animate-blinds" style="background:#D9D9D9" scroll="true">

        <div class="hero slide-up item ink ink-dark" style="background-image: url('img/home1.png'); background-size: 100% 230px; background-repeat: no-repeat;
 height:190px; border:none">
        </div>

        <div class="ionic">

            <div class="item card-item" style="transition-delay: 0.11s; padding-top:12px">
                <div class="card stable-bg ink ink-dark" style="background:#fff; margin:0">
                    <div class="item item-avatar item-text-wrap in in done" style="transition-delay: 0.2s;" ng-click="go_chuyennganh()">
                        <span class="avatar" style="background-image: url('img/Books-icon.png'); border-radius:0"></span>
                        <h2 class="content padding double-padding-x text-left" style="font-size:17px; overflow: hidden; white-space: nowrap;
            text-overflow: ellipsis;">Chuyên Ngành Đào Tạo</h2>
                    </div>
                </div>
            </div>

            <div class="item card-item" style="transition-delay: 0.11s;">
                <div class="card stable-bg ink ink-dark" style="background:#fff; margin:0">
                    <div class="item item-avatar item-text-wrap in in done" style="transition-delay: 0.2s;" ng-click="go_khoahoc()">
                        <span class="avatar" style="background-image: url('img/Science-icon.png'); border-radius:0"></span>
                        <h2 class="content padding double-padding-x text-left crop" style="font-size:17px; overflow: hidden; white-space: nowrap;
            text-overflow: ellipsis;">Khoá Học Của Tôi</h2>
                    </div>
                </div>
            </div>

            <!--<div class="item card-item" style="transition-delay: 0.11s;">
                <div class="card stable-bg ink ink-dark" style="background:#fff; margin:0">
                    <div class="item item-avatar item-text-wrap in in done" style="transition-delay: 0.2s;" ng-click="go_hoilanhnghe()">
                        <span class="avatar" style="background-image: url('img/Russ-Icon.png'); border-radius:0"></span>
                        <h2 class="content padding double-padding-x text-left crop" style="font-size:17px; overflow: hidden; white-space: nowrap;
            text-overflow: ellipsis;">Hội Lành Nghề</h2>
                    </div>
                </div>
            </div>-->

        </div>

        <!--<div class="item tabs tabs-dark tabs-icon-top static stable-bg" style="background: #E0E0E0; border-top:0; margin-top:10px; border:none">
            <a class="tab-item">
                <img src="img/logo/California-Institute-of-Technology-Logo-design  .png" height="43px"/>
            </a>
            <a class="tab-item">
                <img src="img/logo/dai-hoc-khanh-hoa.png" height="43px"/>
            </a>
            <a class="tab-item">
                <img src="img/logo/logo-khtn.png" height="43px"/>
            </a>
            <a class="tab-item">
                <img src="img/logo/logo.png" height="43px"/>
            </a>
            <a class="tab-item">
                <img src="img/logo/logozee_logo-truong-dai-hoc-hung-vuong.png" height="43px"/>
            </a>
        </div>-->

        <div class="hero slide-up item ink ink-dark" style="background-image: url('img/party.jpg'); background-size: 100% 230px; background-repeat: no-repeat;
 height:190px; border:none; margin-top:8px">
        </div>

        <div class="item card-item" style="transition-delay: 0.11s;">
            <div class="card stable-bg ink ink-dark" style="margin-left:0; margin-right:0">
                <div class="item  item-text-wrap in in done" style="transition-delay: 0.2s; text-align:center">
                    <strong style="color:#850B15">Cựu sinh viên chia sẻ về TOPICA</strong>
                    <p style="color:#000">
                        “Đây là một phương pháp học chủ động về thời gian, có thể học mọi lúc mọi nơi rất phù hợp với người bận rộn.”
                    </p>
                    <span style="color:#850B15">
                        - Chị Nguyễn Thị Diệu Thuỷ, sinh viên Ngành Luật Giám đốc Cty TNHH TMDV K&L
                    </span>
                </div>
            </div>
        </div>

        <div class="ionic" style="margin-bottom:30px">
            
            <div class="item card-item" style="transition-delay: 0.11s; padding-top:2px">
                <div class="card stable-bg ink ink-dark" style="background:#fff; margin:0">
                    <img src="img/panel-1.png" height="130" width="100%"/>
                </div>
            </div>

            <div class="item card-item" style="transition-delay: 0.11s;">
                <div class="card stable-bg ink ink-dark" style="background:#fff; margin:0">
                    <img src="img/panel-2.png" height="130" width="100%"/>
                </div>
            </div>

            <div class="item card-item" style="transition-delay: 0.11s;">
                <div class="card stable-bg ink ink-dark" style="background:#fff; margin:0">
                    <img src="img/panel-3.png" height="130" width="100%"/>
                </div>
            </div>

        </div>

    </ion-content>

</ion-view>