<ion-view>
    <ion-nav-title>
        <img class="center" width="150px" height="100%" src="img/logo-uni.png" />
    </ion-nav-title>
    <ion-content style="background:#D9D9D9" class="animate-fade-slide-in" scroll="true">

        <div class="bar bar-subheader bar-stable static text-center" style="background:#D9D9D9; border:none; box-shadow:none; margin-top:20px;">
            <H2 class="title" style="height:40px; color:#810D16">CÁC CHUYÊN NGÀNH ĐÀO TẠO</H2><br/><br/>
            <p style="font-size:13px">Topica UNI đang phối hợp triển khai đào tạo các chuyên ngành</p>
        </div>
        
        <div class="ionic" style="width:95%">
            <div class="list">

            <div class="card card-gallery item item-text-wrap" style="transition-delay: 0.11s; margin-top:25px">
                <div class="ink dark-bg text-center" ng-click="go_detail_chuyenganh(1)">
                    <h2>QUẢN TRỊ KINH DOANH</h2>
                    <img class="full-image" src="img/cn_1.jpg" height="150px">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <img src="img/logo/dai-hoc-khanh-hoa.png" height="43" style="display: -webkit-inline-box;">
                    </a>
                    <a class="tab-item stable-bg assertive">
                        <img src="img/logo/logozee_logo-truong-dai-hoc-hung-vuong.png" height="43" style="display: -webkit-inline-box;">
                    </a>
                    <a class="tab-item stable-bg assertive">
                        <img src="img/logo/California-Institute-of-Technology-Logo-design  .png" height="43" style="display: -webkit-inline-box;">
                    </a>
                </div>
            </div>

            <div class="card card-gallery item item-text-wrap" style="transition-delay: 0.11s; margin-top:10px">
                <div class="ink dark-bg text-center" ng-click="go_detail_chuyenganh(12)">
                    <h2>KẾ TOÁN</h2>
                    <img class="full-image" src="img/cn_2.jpg" height="150px">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <img src="img/logo/dai-hoc-khanh-hoa.png" height="43" style="display: -webkit-inline-box;">
                    </a>
                    <a class="tab-item stable-bg assertive">
                        <img src="img/logo/logozee_logo-truong-dai-hoc-hung-vuong.png" height="43" style="display: -webkit-inline-box;">
                    </a>
                    <a class="tab-item stable-bg assertive">
                        <img src="img/logo/California-Institute-of-Technology-Logo-design  .png" height="43" style="display: -webkit-inline-box;">
                    </a>
                </div>
            </div>

            <div class="card card-gallery item item-text-wrap" style="transition-delay: 0.11s; margin-top:10px">
                <div class="ink dark-bg text-center" ng-click="go_detail_chuyenganh(123)">
                    <h2>TÀI CHÍNH NGÂN HÀNG</h2>
                    <img class="full-image" src="img/cn_3.jpg" height="150px">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <img src="img/logo/dai-hoc-khanh-hoa.png" height="43" style="display: -webkit-inline-box;">
                    </a>
                    <a class="tab-item stable-bg assertive">
                        <img src="img/logo/logozee_logo-truong-dai-hoc-hung-vuong.png" height="43" style="display: -webkit-inline-box;">
                    </a>
                    <a class="tab-item stable-bg assertive">
                        <img src="img/logo/California-Institute-of-Technology-Logo-design  .png" height="43" style="display: -webkit-inline-box;">
                    </a>
                </div>
            </div>

            <div class="card card-gallery item item-text-wrap" style="transition-delay: 0.11s; margin-top:10px; margin-bottom:30px">
                <div class="ink dark-bg text-center" ng-click="go_detail_chuyenganh(1234)">
                    <h2>CÔNG NGHỆ THÔNG TIN</h2>
                    <img class="full-image" src="img/cn_4.jpg" height="150px">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <img src="img/logo/dai-hoc-khanh-hoa.png" height="43" style="display: -webkit-inline-box;">
                    </a>
                    <a class="tab-item stable-bg assertive">
                        <img src="img/logo/logozee_logo-truong-dai-hoc-hung-vuong.png" height="43" style="display: -webkit-inline-box;">
                    </a>
                    <a class="tab-item stable-bg assertive">
                        <img src="img/logo/California-Institute-of-Technology-Logo-design  .png" height="43" style="display: -webkit-inline-box;">
                    </a>
                </div>
            </div>

            </div>
        </div>

        
    </ion-content>
</ion-view>
