<ion-view>
    <ion-nav-title>
        <img class="center" width="150px" height="100%" src="img/logo-uni.png" />
    </ion-nav-title>
    <ion-content style="background:#D9D9D9" class="animate-blinds" scroll="true">

        <div class="bar bar-subheader bar-stable static text-center" style="background:#D9D9D9; border:none; box-shadow:none; margin-top:20px;">
            <H2 class="title" style="height:40px; color:#810D16">CÁC MÔN HỌC CỦA CHUYÊN NGÀNH</H2><br/><br/>
        </div>
        
        <div class="ionic" style="width:95%">
            <div class="list">

            <div class="card card-gallery item item-text-wrap" style="transition-delay: 0.11s; margin-top:3px">
                <div class="ink light-bg text-center" ng-click="go_detail_chuyenganh(1)">
                    <h2>TOÁN</h2>
                    <img class="full-image" src="img/toan.jpg" height="150px">
                </div>
            </div>

            <div class="card card-gallery item item-text-wrap" style="transition-delay: 0.11s; margin-top:10px">
                <div class="ink light-bg text-center" ng-click="go_detail_chuyenganh(12)">
                    <h2>VẬT LÝ</h2>
                    <img class="full-image" src="img/vatly.jpg" height="150px">
                </div>
            </div>

            <div class="card card-gallery item item-text-wrap" style="transition-delay: 0.11s; margin-top:10px">
                <div class="ink light-bg text-center" ng-click="go_detail_chuyenganh(123)">
                    <h2>HOÁ HỌC</h2>
                    <img class="full-image" src="img/hoahoc.png" height="150px">
                </div>
            </div>

            <div class="card card-gallery item item-text-wrap" style="transition-delay: 0.11s; margin-top:10px; margin-bottom:30px">
                <div class="ink light-bg text-center" ng-click="go_detail_chuyenganh(1234)">
                    <h2>TIN HỌC</h2>
                    <img class="full-image" src="img/cn_4.jpg" height="150px">
                </div>
            </div>

            </div>
        </div>

        
    </ion-content>
</ion-view>
