<ion-view hide-nav-bar="false">
    <ion-nav-title>
        <img class="center" width="150px" height="100%" src="img/logo-uni.png" />
    </ion-nav-title>
    <ion-content style="background:#D9D9D9" scroll="true">

        <div class="bar bar-subheader bar-stable static text-center" style="background:#D9D9D9; border:none; box-shadow:none; margin-top:20px;">
            <H2 class="title" style="height:40px; color:#810D16">CÁC MÔN HỌC CỦA CHUYÊN NGÀNH</H2><br/><br/>
        </div>
        
        <div class="ionic" style="width:95%; margin-bottom:30px">
            <div class="list">

            <div class="card card-gallery item item-text-wrap" style="transition-delay: 0.11s; margin-top:3px" ng-repeat="content in monhoc">
                <div class="ink light-bg text-center">
                    <h2>{{content.Name}}</h2>
                    <img class="full-image" src="{{content.Image_url}}" height="150px">
                </div>
            </div>

            </div>
        </div>

        
    </ion-content>
</ion-view>
