<ion-view hide-nav-bar="false">
    <ion-nav-title>
        <img class="center" width="150px" height="100%" src="img/logo-uni.png" />
    </ion-nav-title>

    <ion-content style="background:#D9D9D9" class="animate-ripple" scroll="true">

        <div class="bar bar-subheader bar-stable static text-center" style="background:#D9D9D9; border:none; box-shadow:none; margin-top:20px;">
            <H2 class="title" style="height:40px; color:#810D16">HỘI LÀNH NGHỀ</H2>
        </div>

        <div class="ionic" style="margin-bottom:30px">


            <div class="item card-item" style="transition-delay: 0.11s; padding-top:3px">
                <div class="card stable-bg ink ink-dark" style="background:#fff; margin:0">
                    <img src="img/panel-2.png" height="130" width="100%" />
                </div>
            </div>

            <div class="item card-item" style="transition-delay: 0.11s;">
                <div class="card stable-bg ink ink-dark" style="background:#fff; margin:0">
                    <img src="img/panel-1.png" height="130" width="100%" />
                </div>
            </div>

            <div class="item card-item" style="transition-delay: 0.11s;">
                <div class="card stable-bg ink ink-dark" style="background:#fff; margin:0">
                    <img src="img/hoilanhnghe1.jpg" height="130" width="100%" />
                </div>
            </div>

            <div class="item card-item" style="transition-delay: 0.11s;">
                <div class="card stable-bg ink ink-dark" style="background:#fff; margin:0">
                    <img src="img/tintuc.png" height="220" width="100%" />
                </div>
            </div>

        </div>

    </ion-content>

</ion-view>