<ion-view hide-nav-bar="false">
    <ion-nav-title>
        <img class="center" width="150px" height="100%" src="img/logo-uni.png" />
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear ion-ios-arrow-back" style="color: #850B15; font-size: xx-large;" ng-click="myGoBack()">
        </button>
    </ion-nav-buttons>
    <ion-content style="background:#D9D9D9" scroll="true">

        <div class="bar bar-subheader bar-stable static text-center" style="background:#D9D9D9; border:none; box-shadow:none; margin-top:20px; margin-bottom:-15px">
            <H2 class="title" style="height:40px; color:#810D16">KẾ HOẠCH HỌC TẬP</H2>
        </div>
        
        <div class="ionic" style="width:95%; margin-bottom:30px" ng-show="result.length > 0">
            <div class="list">
               
            <div class="card card-gallery animated zoomIn item item-text-wrap" style="transition-delay: 0.11s; margin-top:15px" ng-repeat="content in result">
                <div class="ink dark-bg text-center" ng-click="go_detail_khoahoc(content.Id_subject)">
                    <img class="full-image" src="{{content.Image_url}}" height="150px">
                </div>
                <div class="dark-bg text-center" ng-click="go_detail_khoahoc(content.Id_subject)">
                    <h2>{{content.Name}}</h2>
                </div>
            </div>

            

            </div>
        </div>

        
    </ion-content>
</ion-view>
