<ion-view hide-nav-bar="false">
    <ion-nav-title>
        <img class="center" width="150px" height="100%" src="img/logo-uni.png" />
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear ion-ios-arrow-back" style="color: #850B15; font-size: xx-large;" ng-click="myGoBack()">
        </button>
    </ion-nav-buttons>
    <ion-content style="background:#D9D9D9" scroll="true">

        <!--<div class="bar bar-subheader bar-stable static text-center" style="background:#D9D9D9; border:none; box-shadow:none; margin-top:20px;">
            <H2 class="title" style="height:40px; color:#810D16">CÁC MÔN HỌC CỦA CHUYÊN NGÀNH</H2><br/><br/>
        </div>-->
        
        <div class="ionic animated zoomIn" style="margin-bottom:30px">

            <div ng-repeat="content in result">
                <div class="list half" style="padding: 10px 9px 0px 8px !important">
                    <div class="card card-gallery animated zoomIn item item-text-wrap" style="transition-delay: 0.11s; margin-top:3px">
                        <div class="dark-bg text-center">
                            <h2 class="crop" style="text-transform: uppercase">{{content.Name}}</h3>
                        </div>
                        <div class="ink dark-bg text-center">
                            <img class="full-image" src="{{content.Image_url}}" height="150px">
                        </div>
                        <div class="item tabs text-center" style="transition-delay: 0.34s;">
                            <a class="tab-item" style="margin-top:-1px !important">
                                <!--<h2>{{content.Id_subject}}</h2>-->
                                <button class="button button-flat" style="padding: 0 12px !important; background: transparent; color:#821018">{{content.Id_subject}}</button>
                            </a>
                            <a class="tab-item" ng-show=" content.Free === true " style="margin-top:-1px !important">
                                <button class="button button-flat button-positive" style="padding: 0 12px !important; border-radius: 0;" ng-click="yeuthich(content.Id_subject)">Học thử</button>
                            </a>
                        </div>
                    </div>
                </div>
             </div>

            <!--<div class="list">

            <div class="card card-gallery item item-text-wrap" style="transition-delay: 0.11s; margin-top:3px; margin-bottom:20px" ng-repeat="content in monhoc">
                <div class="ink light-bg text-center">
                    <h2 style="text-transform: uppercase;">{{content.Name}}</h2>
                    <img class="full-image" src="{{content.Image_url}}" height="150px">
                </div>
            </div>

            </div>-->
        </div>

        
    </ion-content>
</ion-view>
