<ion-view>
    <ion-nav-title>
        <img class="center" width="150px" height="100%" src="img/logo-uni.png" />
    </ion-nav-title>
    <ion-content style="background:#D9D9D9" class="animate-blinds" scroll="true">

        <div class="bar bar-subheader bar-stable static text-center" style="background:#D9D9D9; border:none; box-shadow:none; margin-top:20px;">
            <H2 class="title" style="height:40px; color:#810D16">CÁC MÔN HỌC CỦA TÔI</H2>
        </div>
        
        <div class="ionic" style="width:95%">
            <div class="list">

            <div class="card card-gallery item item-text-wrap" style="transition-delay: 0.11s; margin-top:0px">
                <div class="ink" ng-click="go_detail_khoahoc(1)">
                    <img class="full-image" src="img/cn_1.jpg" height="150px">
                </div>
                <div class="dark-bg text-center">
                    <h2>VIRAL MAKETING</h2>
                </div>
            </div>

            <div class="card card-gallery item item-text-wrap" style="transition-delay: 0.11s; margin-top:10px">
                <div class="ink dark-bg text-center" ng-click="go_detail_khoahoc(12)">
                    <img class="full-image" src="img/cn_2.jpg" height="150px">
                </div>
                <div class="dark-bg text-center">
                    <h2>LUẬT KINH TẾ 1</h2>
                </div>
            </div>

            <div class="card card-gallery item item-text-wrap" style="transition-delay: 0.11s; margin-top:10px">
                <div class="ink dark-bg text-center" ng-click="go_detail_khoahoc(123)">
                    <img class="full-image" src="img/cn_3.jpg" height="150px">
                </div>
               <div class="dark-bg text-center">
                    <h2>KẾ TOÁN 2</h2>
                </div>
            </div>

            <div class="card card-gallery item item-text-wrap" style="transition-delay: 0.11s; margin-top:10px; margin-bottom:30px">
                <div class="ink dark-bg text-center" ng-click="go_detail_khoahoc(1234)">
                    <img class="full-image" src="img/cn_4.jpg" height="150px">
                </div>
               <div class="dark-bg text-center">
                    <h2>TÀI CHÍNH NGÂN HÀNG</h2>
                </div>
            </div>

            </div>
        </div>

        
    </ion-content>
</ion-view>
