<ion-view hide-nav-bar="false">
    <ion-nav-title>
        <img class="center" width="150px" height="100%" src="img/logo-uni.png" />
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear ion-ios-arrow-back" style="color: #850B15; font-size: xx-large;" ng-click="myGoBack()">
        </button>
    </ion-nav-buttons>
    <ion-content style="background:#D9D9D9" class="" scroll="true">
        <div class="hero slide-up animated zoomIn item ink ink-dark" style="background-image: url('{{monhoc.Image_url}}'); background-size: 100% 230px; background-repeat: no-repeat;
 height:190px; border:none; margin-top:17px">
        </div>


        <div class="im-wrapper animated zoomIn" style="background:#D9D9D9; border:none; box-shadow:none; padding-bottom:5px !important; padding-left: 5px !important; padding-right: 5px !important;">
            <p style="font-size:13px; margin-bottom:10px; text-align:left">
                Gain real-world experience running live campaigns as you learn from top experts in the field. Launch your carrer with a 360-degree
                understanding of digital marketing
            </p>

            <hr class="style14" />
            <h6 style="color:#850B15">GIẢNG VIÊN</h6>
            <h6 style="text-transform: uppercase">{{monhoc.Teacher}}</h6>
            <h6 style="color:#850B15">QUẢN LÝ HỌC TẬP</h6>
            <h6 style="text-transform: uppercase">{{monhoc.Manager}}</h6>
            <h6 style="color:#850B15">THỜI GIAN HỌC</h6>
            <h6>9 tuần từ {{monhoc.From_day}} - {{monhoc.To_day}}</h6>

        </div>

        <!--<div class="hero slide-up animated zoomIn item ink ink-dark" style="background-image: url('{{monhoc.Image_baner}}'); background-size: 100% 230px; background-repeat: no-repeat;
 height:230px; border:none; margin-top:0px">
        </div>-->

        <div class="bar bar-subheader bar-stable animated zoomIn static text-center" style="background:#D9D9D9; border:none; box-shadow:none; margin-top:0px;">
            <H2 class="title" style="height:40px; color:#810D16; text-transform: uppercase">{{monhoc.Name}}</H2>
        </div>

        <hr class="style14" />

        <div class="im-wrapper animated zoomIn" style="background:#D9D9D9; margin-bottom:30px; border:none; box-shadow:none; padding-bottom:5px !important; padding-left: 5px !important; padding-right: 5px !important;">

            <!--<div href="#/app/profile" class="item item-icon-right" style="transition-delay: 0.49s; padding-top:1px; padding-left:7px !important">-->
            <!--<h2 style="color:#850B15; font-weight:500">CHƯƠNG TRÌNH HỌC</h2>
                <select>
                        <option value="">Tuần 1</option>
                        <option selected="" value="">Tuần 2</option>
                        <option value="">Tuần 3</option>
                    </select>-->
            <label class="item item-input item-select" style="padding-left:10px; padding-right:20px !important">
                    <div class="input-label">
                        <h2 style="color:#850B15; font-weight:500">CHƯƠNG TRÌNH HỌC</h2>
                    </div>
                    <select style="padding-right: 35px; background: transparent; border: 1px solid #850B15; margin-right: 10px; font-weight:700"
                           ng-model="selected_tuan" ng-change="get_detal_tuan(selected_tuan)" data-ng-options="item.text for item in So_Tuan">
                        <!--<option selected="" value="">{{So_Tuan[0].text}}</option>-->
                    </select>

                    <!--<select style="padding-right: 35px; background: transparent; border: 1px solid #850B15; margin-right: 10px; font-weight:700"
                    ng-init="item = So_Tuan[0]" ng-model="item" ng-change="get_detal_tuan(item)">
                        <option ng-repeat="content in So_Tuan" value="{{content.Id}}">{{content.text}}</option>
                    </select>-->
                </label>

            <!--<div class="bar bar-subheader bar-stable static" style="margin-top:10px">
                    <h2 style="padding-left:10px; color:#80171D">I</h2><strong class="title">nteractive</strong>
                </div>-->

            <div ng-click="go_landing_page()" class="item card-item" style="transition-delay: 0.11s; padding-left:5px; padding-right:5px; margin-top:5px">
                <div class="card stable-bg ink ink-dark" style="background:#fff; margin:0">
                    <div class="item item-text-wrap item-icon-right" style="transition-delay: 0.2s;">

                        <span><h1 style="display: initial; margin-right:3px; color:#80171D">I</h1>nteractive</span>
                        <a>
                                    <i class="icon ion-android-chat" style="display:block; right:45%; top:17%; color:#80171D">
                                        <span style="font-size:13px; display: table-row-group; color:#80171D; font-weight:500">DIỄN ĐÀN</span>
                                    </i>
                                </a>
                        <a>
                                    <i class="icon ion-ios-help" style="display:block; top:17%; color:#80171D">
                                        <span style="font-size:13px; display: table-row-group; color:#80171D; font-weight:500">H2472</span>
                                    </i>
                                </a>


                    </div>
                </div>
            </div>

            <label class="item item-input" style="padding-left:10px; padding-right:20px !important; margin-top:30px">
                    <div class="input-label">
                        <h3 style="color:#850B15; font-weight:500">TUẦN {{tuan.Tuan}} | {{tuan.f_day}} - {{tuan.t_day}}</h3>
                        <h3 style="color:#850B15; font-weight:900; top:10px; text-transform: uppercase">{{tuan.Ten_bai_hoc}}</h3>
                    </div>

            </label>    


            <div class="item card-item" style="transition-delay: 0.11s; padding-left:5px; padding-right:5px; margin-top:5px" ng-repeat="content in tuan.Loai_bai" ng-show="content.Id === 'LT'">
                <div class="card stable-bg ink ink-dark" style="background:#fff; margin:0">
                    <div class="item item-text-wrap item-icon-right" style="transition-delay: 0.2s;">

                        <span><h1 style="display: initial; margin-right:3px; color:#80171D">L</h1>ecture</span>
                        <a>
                                    <i class="icon ion-ios-book" style="display:block; right:55%; top:17%; color:#80171D">
                                        <span style="font-size:13px; display: table-row-group; color:#80171D; font-weight:500">GIÁO TRÌNH</span>
                                    </i>
                                </a>

                        <a>
                                    <i class="icon ion-ios-film" style="display:block; right:22%; top:17%; color:#80171D">
                                        <span style="font-size:13px; display: table-row-group; color:#80171D; font-weight:500">SLIDE & VIDEO</span>
                                    </i>
                                </a>

                                <a>
                                    <i class="icon ion-music-note" style="display:block; top:17%; color:#80171D">
                                        <span style="font-size:13px; display: table-row-group; color:#80171D; font-weight:500">MP3</span>
                                    </i>
                                </a>


                    </div>
                </div>
            </div>


            <div ng-click="go_landing_page()" class="item card-item" style="transition-delay: 0.11s; padding-left:5px; padding-right:5px; margin-top:0px" ng-repeat="content in tuan.Loai_bai" ng-show="content.Id === 'TN'">
                <div class="card stable-bg ink ink-dark" style="background:#fff; margin:0">
                    <div class="item item-text-wrap item-icon-right" style="transition-delay: 0.2s;">

                        <span><h1 style="display: initial; margin-right:3px; color:#80171D">P</h1>ractice</span>

                        <h2 class="icon" style="font-size:larger; right:10%; color:#80171D; font-weight:500">LUYỆN TẬP TRẮC NGHIỆM 1</h2>

                    </div>
                </div>
            </div>

            <div ng-click="go_landing_page()" class="item card-item" style="transition-delay: 0.11s; padding-left:5px; padding-right:5px; margin-top:0px" ng-repeat="content in tuan.Loai_bai" ng-show="content.Id === 'BT'">
                <div class="card stable-bg ink ink-dark" style="background:#fff; margin:0">
                    <div class="item item-text-wrap item-icon-right" style="transition-delay: 0.2s;">

                        <span><h1 style="display: initial; margin-right:3px; color:#80171D">E</h1>xam</span>

                        <h2 class="icon" style="font-size:larger; right:35%; color:#80171D; font-weight:500">BÀI TẬP VỀ NHÀ</h2>

                    </div>
                </div>
            </div>

        </div>

        <!--<div class="hero slide-up item ink ink-dark" style="background-image: url('img/viral.jpg'); background-size: 100% 230px; background-repeat: no-repeat;
 height:200px; border:none; margin-top:50px">
        </div>-->

    </ion-content>
</ion-view>